#form_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}
#contact_form
{
   display: flex;   
   flex-direction: column;
   min-width: 300px;

   
}
.form_input
{

}
@media (max-width:519px)
{
    #contact_form
    {
        width: 95%;
    }

}