#contact_form_container
{
    width: 100vw;
    height: 100vh;
    display: flex;
    padding-top: 10vh;
    justify-content: center;

}
#contact_form
{
    width: 60vw;
    height: 90vh;
   
}
@media (max-width:519px)
{
    #contact_form
    {
        width: 95%;
    }

}