@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    
}

body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
#intro
{
    
    height: 100vh;
    margin: 0;
    
}
#logo
{
    width: 45px;
    height: 40px;
    align-items: center;
    
}
/*
Navigation Section
*/
nav
{    
    display: flex;
    justify-content: space-between;    
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
}
#main_menu
{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    
       
}
.main_menu_list
{
    margin: 20px;
}
.main_menu_links
{
    text-decoration: none;
    color: white;
   
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;

}
.main_menu_links:hover
{
    color: red;
}
.main_menu_links:active
{
    color: greenyellow;
}
#menu_btn
{
    cursor: pointer;
    display:none;
}
#menu_btn:hover
{
    background-color:grey;
}
#close_btn
{
    
    cursor: pointer;
}
#close_btn:hover
{
    
    background-color: grey;
}
#sidebar_container
{
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    text-align: end;
    padding: 20px;
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
#sidebar_menu
{
    margin: 10px;
    list-style: none;
    text-align: left;

}
.sidebar_list
{
    padding-bottom: 10px;
}
.sidebar_menu_links
{
    text-decoration: none;
    color: white;
   
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
}
#intro_paragraph_container
{     
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    
}
#intro_paragraph
{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 4em;  
    -webkit-text-stroke: .7px black; 
    text-align: center;
    padding-top: 5rem;  
    
    
  
}
#products_button
{
    padding: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;    
    background-color: #D40E0E;
    border-radius: 1rem;
    color: white;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.1rem;
    
    
    
}
#products_button:hover
{
    background-color: green;
    cursor:pointer;
}
#products_button_link
{
    text-decoration: none;    
     
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}
@media (max-width:519px)
{
    #main_menu
    {
        display: none;

    }
    #menu_btn
    {
        display: block;
    }
    #intro_paragraph_container
    {
        height: 90vh;
    }
    #intro_paragraph
    {
        font-size: 3rem;
    }


}
@media (max-width:400px)
{
    #intro_paragraph
    {
        font-size: 2.3rem;
    }
}
@media (max-width:200px)
{
    #intro_paragraph
    {
        font-size: 1.8rem;
    }
    #products_button
    {
        font-size: 0.9rem;
    }

}
@media (min-width:750px)
{
    nav
    {
        position: relative;
    }
}
